body {
    overflow: hidden; /* Prevent scrolling */
}

.container {
    max-width: m;
}

h1, h3, h5, a {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20%;
}

.background-404 {
    background: linear-gradient(to bottom right, #1E2D9C, #101A46);
    display: block;
    height: 100vh;
    
    
}

.general-container {display: flex;}

.left-side {
    justify-content: left;
}

h1 {
    margin-right: 350px;
    margin-top: 15%;
    font-size: 72px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
}

h5 {
    font-size: 22px;
}

.go-home-button {
    background: #E8006B;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 8px;
    padding: 5px 5px 5px 5px;
}

/* Position the rocket image above the cloud image */
.rocket-image {
    position: absolute;
    bottom: 30px;
    right: -100px; /* Initial position outside the viewport */
    max-width: 100%;
    z-index: 1;
}

/* Add the animation to the animation-container */
.animation-container {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 40%;
    right: 0;
    animation: rocketAnimation 10s ease-in-out;
    animation-fill-mode: forwards;
}

.cloud-image {
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

@keyframes rocketAnimation {
    0% {
        bottom: -100px; /* Initial position outside the viewport */
    }
    100% {
        bottom: 50%; /* Final position in the middle of the page */
    }
}