.card-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-auto-rows: 3%;
    grid-auto-flow: inherit;
    max-width: 950px;
    margin: 50px auto;
    
}


.thin-card, .medium-rectangle, .medium-square, .medium-square2, .small-square, .big-square {
    border-radius: 5px;
    background-color: #6B7CD9 ;

}


.thin-card {
    height: 23px; 
    background-color: #AF093C;
    grid-column: span 6;
    grid-row: 1; 
    margin-top: 12px;
}

.medium-rectangle {
    height: 180px;
    grid-column: span 6; 
    grid-row: 2;
}

.medium-square {
    height: 200px; 
    grid-column: span 3;
    grid-row: 3;
    margin-top: 128%;
}

.medium-square2 {
    height: 200px; 
    grid-column: span 3;
    grid-row: 4;
    margin-top: 36%;
}

.big-square {
    height: 351px; 
    grid-column: span 4;
    grid-row: 3;
    margin-top: 55%;
    
}

.small-square {
    height: 240px; 
    grid-column: span 2; 
    grid-row: 2;
}

